:root {
    --titulo: #ffffff;
    --subtitulo: #ffffff;
    --descricao: #ffffff;
    --roxo: #540d6e;
    --salmao: #EE4266;
    --amarelo: #FFD23F;
}

body {
    background: var(--roxo);
    font-family: sans-serif;
}


nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 1rem 1rem;
}

h1 img {
    width: 120px;
}

.slogan {
    margin: 0.3rem 0 0;
    text-align: center;
    color: var(--amarelo);
    font-size: 13;
}


.container {
    margin: 2rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.container__text {
    width: 60vw;
    margin-right: 1rem 1rem
}

.container__titulo {
    text-align: center;
    color: var(--amarelo);
    font-size: 20px;
}

.container__subtitulo {
    margin-bottom: 0.3rem;
    text-align: center;
    color: var(--titulo);
    font-size: 12px;
}

.input {
    padding: 0.3rem 0;
    width: 40vw;
    align-self: center;
    border-radius: 20px;
    text-align: center;
}

#select-lucro {
    padding: 0.1rem;
    width: 40vw;
    align-self: center;
    margin: 0.5rem 0;
    border-radius: 10px;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    color: var(--roxo);
}

.calcular, .resultado__botaonovocalculo {
    border-radius: 20px;
    padding: 1rem;
    width: 40vw;
    height:3rem;
    background-color: var(--salmao);
    font-weight: 700;
    border: none;
    color: var(--titulo);
}

.imagem__personagem__home {
    width: 38vw;
}

/* Estilização dos resultados*/

.imagem__personagem__resultado{
    width: 45vw;
    display: block;
}

#res {
    margin: -4rem 0;
    display: none;
    color: white;
    text-align: center;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.resultado__valor {
    margin: 1rem;
    color: rgb(10, 208, 10);
    font-size: 30px;
    font-weight: 700;
    border: 1px solid var(--titulo);
    padding: 0.5rem 1rem;
}

.container__lucro {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container__calcular  {
    display: flex;
    justify-content: center;
    
}

.subtitulo__calcular {
    margin: 1rem 0;
    width: 40vw;
    color: var(--subtitulo);
    text-align: center;
    font-size: 14px;
}

.resultado__botaonovocalculo {
    margin: 1rem;
    display: bock;
    
}

@media screen and (min-width:480px) {
    nav h1 img {
        width: 200px;
        margin: 0.5rem;
    }
    .container {
        flex-direction: column;
    }
    .imagem__personagem__home {
        width: 8rem;
        margin-left: 2rem;
        align-self: center;
    }
    .container__subtitulo {
        margin: 0.7rem 0;
    }
}

@media screen and (min-width:769px) {
    main {
        display: flex;
        justify-content: space-around;
    }

    .input {
        padding: 1rem 0;
    }

    .inputs {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        align-items: center;
        width: 40vw;
    }
    .container {
        width: auto;
        margin: 1rem 0;
        align-self: center;
    }

    .container__calcular {
        margin: 1rem 0;
        flex-direction: column;
        width: auto;
    }
    .container__text{
        width: auto;
    }

    nav h1 img {
        width: 200px;
        margin: 1rem;
    }

    .imagem__personagem__home {
        width:17rem;
    }

}
